<div class="w-full h-hero-video">
  <video autoplay muted loop class="w-full h-full object-cover">
    <source src="{{ 'hero-video.mp4' | asset_url }}" type="video/mp4">
  </video>
</div>

{% schema %}
{
  "name": "Vidéo",
  "settings": [
    {
      "type": "video",
      "id": "hero-video",
      "label": "Changer la vidéo :"
    }
  ]
}
{% endschema %}
