<div class=" w-full h-screen bg-black text-white flex flex-col justify-center items-center gap-10">
  <div class=" flex flex-col justify-center items-center gap-1">
    <h1 class=" text-9xl">404</h1>
    <p class=" text-xl">La page que vous cherchez n'existe pas.</p>
  </div>
  <a class=" bg-white text-black p-3 flex gap-2 items-center" href="{{ routes.root_url }}">
    Retourner à la page d'accueil <span>{% render 'chevron-right-icon' %}</span>
  </a>
</div>
